.productbox{
    width:70%;
    top:90px;
    position: absolute;
    background-color: white;
    display: flex;
    border-radius: 8px;
    opacity: 1;
    margin-left: 15%;
    position: fixed;

}

.productbox_1{
    width: 30%;
    margin-left:3%;
    
    z-index: 100;
}
.productbox_image{
    width: 100%;
    margin-top: 5vh;
    margin-bottom: 5vh;
  
    
}

.productbox_2{
    
    width: 60%;
    margin-left:5%;
}



.productbox_2 .title{
    margin-top: 60px;
font-size: 1.6rem;}

.productbox_2 .description{
    
    margin-top: 20px;
    font-size: 1.1rem;
  
}

.productbox_2 .category{
    margin-top: 20px;
    font-size: 1.1rem;
}

.productbox_2 .btn{
    display: flex;
    
}

.productbox_2 .p1{

    background-color:  cadetblue;;
    width:70px;
    height: 40px;
    font-size: 14px;
    margin-right: 5px;
    margin-top: 10px;
    align-items: center;
    text-align: center;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 5px;
}


.productbox_2 button{
    border:none;
    background-color: #0985F6;
    width:100px;
    height: 40px;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 14px;
}

.btn{
    margin-bottom: 30px;
}


@media only screen and (max-width:550px){
    .productbox{
        width:90%;
        top:50px;

        position:fixed;
        background-color: white;
        display: flex;
        flex-direction: column;
        border-radius: 8px;
        opacity: 1;
        margin-left: 5%;
        max-height: 85vh;
      overflow-y: scroll;
        z-index: 1000000;
    
    
    }
    
    .productbox_1{
        width: 60%;
        margin-left:20%;
        z-index: 100;
        margin-bottom: 0px;
    }
    .productbox_image{
        width: 100%;
        margin-top: 5vh;
        margin-bottom: 0vh;
      
        
    }
    
    .productbox_2{
        margin-top: -50px;
        width: 90%;
        text-align: center;
        margin-left:5%;
    }
    
    
    
    .productbox_2 .title{
        margin-top: 60px;
    font-size: 1.6rem;}
    
    .productbox_2 .description{
        
        margin-top: 20px;
        font-size: 1.1rem;
      
    }
    
    .productbox_2 .category{
        margin-top: 20px;
        font-size: 1.1rem;
    }
    
    .productbox_2 .btn{
        display: flex;
        
    }
    
    .productbox_2 .p1{
    
        background-color:  cadetblue;;
        width:70px;
        height: 40px;
        font-size: 14px;
        margin-right: 5px;
        margin-top: 10px;
        align-items: center;
        text-align: center;
        padding: 8px;
        box-sizing: border-box;
    }
    
    
    .productbox_2 button{
        border:none;
        background-color: #0985F6;
        width:100px;
        height: 40px;
        margin-top: 10px;
        font-size: 14px;
    }
    
    .btn{
        margin-bottom: 30px;
        display: flex;
      
        justify-content: center;
    }
}